@model Nop.Plugin.Widgets.Retargeting.Models.ConfigurationModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
            <p>
                @T("Plugins.Widgets.Retargeting.SubscribeRetargeting")
            </p>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="MerchantEmail_OverrideForStore" asp-input="MerchantEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="MerchantEmail" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MerchantEmail" />
                    <span asp-validation-for="MerchantEmail"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    @*<input type="submit" name="subscribe" class="btn btn-primary" value="@T("Plugins.Widgets.Retargeting.Subscribe")" />*@
                    <button type="submit" name="subscribe" class="btn btn-primary">@T("Plugins.Widgets.Retargeting.Subscribe")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <p>
                <em>@T("Plugins.Widgets.Retargeting.CustomizationNote")</em>
            </p>
            <p>
                <em>@T("Plugins.Widgets.Retargeting.DiscountTypeNote")</em>
            </p>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="TrackingApiKey_OverrideForStore" asp-input="TrackingApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="TrackingApiKey" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="TrackingApiKey" />
                    <span asp-validation-for="TrackingApiKey"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RestApiKey_OverrideForStore" asp-input="RestApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RestApiKey" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RestApiKey" />
                    <span asp-validation-for="RestApiKey"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="UseHttpPostInsteadOfAjaxInAddToCart_OverrideForStore" asp-input="UseHttpPostInsteadOfAjaxInAddToCart" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="UseHttpPostInsteadOfAjaxInAddToCart" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="UseHttpPostInsteadOfAjaxInAddToCart" />
                    <span asp-validation-for="UseHttpPostInsteadOfAjaxInAddToCart"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ProductBoxSelector_OverrideForStore" asp-input="ProductBoxSelector" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductBoxSelector" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductBoxSelector" />
                    <span asp-validation-for="ProductBoxSelector"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AddToCartCatalogButtonSelector_OverrideForStore" asp-input="AddToCartCatalogButtonSelector" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AddToCartCatalogButtonSelector" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddToCartCatalogButtonSelector" />
                    <span asp-validation-for="AddToCartCatalogButtonSelector"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AddToCartButtonDetailsPrefix_OverrideForStore" asp-input="AddToCartButtonIdDetailsPrefix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AddToCartButtonIdDetailsPrefix" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddToCartButtonIdDetailsPrefix" />
                    <span asp-validation-for="AddToCartButtonIdDetailsPrefix"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AddToWishlistCatalogButtonSelector_OverrideForStore" asp-input="AddToWishlistCatalogButtonSelector" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AddToWishlistCatalogButtonSelector" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddToWishlistCatalogButtonSelector" />
                    <span asp-validation-for="AddToWishlistCatalogButtonSelector"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="AddToWishlistButtonIdDetailsPrefix_OverrideForStore" asp-input="AddToWishlistButtonIdDetailsPrefix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="AddToWishlistButtonIdDetailsPrefix" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddToWishlistButtonIdDetailsPrefix" />
                    <span asp-validation-for="AddToWishlistButtonIdDetailsPrefix"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="PriceLabelSelector_OverrideForStore" asp-input="ProductPriceLabelDetailsSelector" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductPriceLabelDetailsSelector" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductPriceLabelDetailsSelector" />
                    <span asp-validation-for="ProductPriceLabelDetailsSelector"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ProductMainPictureIdDetailsPrefix_OverrideForStore" asp-input="ProductMainPictureIdDetailsPrefix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductMainPictureIdDetailsPrefix" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductMainPictureIdDetailsPrefix" />
                    <span asp-validation-for="ProductMainPictureIdDetailsPrefix"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="HelpTopicSystemNames_OverrideForStore" asp-input="HelpTopicSystemNames" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="HelpTopicSystemNames" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="HelpTopicSystemNames" />
                    <span asp-validation-for="HelpTopicSystemNames"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ProductReviewAddedResultSelector_OverrideForStore" asp-input="ProductReviewAddedResultSelector" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ProductReviewAddedResultSelector" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ProductReviewAddedResultSelector" />
                    <span asp-validation-for="ProductReviewAddedResultSelector"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationHomePage_OverrideForStore" asp-input="RecommendationHomePage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationHomePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationHomePage" />
                    <span asp-validation-for="RecommendationHomePage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationCategoryPage_OverrideForStore" asp-input="RecommendationCategoryPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationCategoryPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationCategoryPage" />
                    <span asp-validation-for="RecommendationCategoryPage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationProductPage_OverrideForStore" asp-input="RecommendationProductPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationProductPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationProductPage" />
                    <span asp-validation-for="RecommendationProductPage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationCheckoutPage_OverrideForStore" asp-input="RecommendationCheckoutPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationCheckoutPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationCheckoutPage" />
                    <span asp-validation-for="RecommendationCheckoutPage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationThankYouPage_OverrideForStore" asp-input="RecommendationThankYouPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationThankYouPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationThankYouPage" />
                    <span asp-validation-for="RecommendationThankYouPage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationSearchPage_OverrideForStore" asp-input="RecommendationSearchPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationSearchPage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationSearchPage" />
                    <span asp-validation-for="RecommendationSearchPage"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="RecommendationPageNotFound_OverrideForStore" asp-input="RecommendationPageNotFound" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="RecommendationPageNotFound" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="RecommendationPageNotFound" />
                    <span asp-validation-for="RecommendationPageNotFound"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    <button type="submit" name="reset-settings" id="reset-settings" class="btn btn-info">
                        @T("Plugins.Widgets.Retargeting.ResetSettings")
                    </button>
                    <nop-action-confirmation asp-button-id="reset-settings" />
                </div>
            </div>
        </div>
    </div>
</div>